node_modules
dist
.output
.cache
logs
*.log
target

.env
.env*.local
.*.env
.vercel
.idea
.DS_Store
tsconfig.tsbuildinfo
package-lock.json

/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
