node_modules
.DS_Store
.env
.vercel
.next/
.swc/
.*.env
node_modules
target
dist
logs
.cache
.vscode
.DS_Store
.idea
.next
yarn-error.log
.output
npm-debug.log

# Playwright test results
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env.local
