@import "tailwindcss";

@layer base {
	.hakapit {
		--color-primary: 350, 85%, 25%;
		--color-primary-opaque: 350 85% 42% / 0.2;
		--color-secondary: 177, 100%, 34.9%;
		--color-accent: 55.6, 89.2%, 67.3%;
		--color-background: 350 85% 10%;
		--color-text: 0 0% 100%;
		--color-popover: 350 85% 5%;
	}

	.nitk {
		--color-primary: 296, 100%, 11.8%;
		--color-primary-opaque: 296 100% 20% / 0.3;
		--color-secondary: 338.9, 100%, 45.7%;
		--color-text: 182.4, 100%, 50.8%;
		--color-background: 296, 100%, 20%;
		--color-accent: 151.3, 100%, 50%;
		--color-popover: 296, 100%, 20%;
	}

	.balcony-albums {
		--color-primary: 359.5, 44%, 49%;
		--color-primary-opaque: 270 31% 39% / 0.3;
		--color-secondary: 0, 0%, 0%;
		--color-accent: 205, 51.1%, 55.9%;
		--color-background: 270, 31%, 20%;
		--color-text: 44.3, 46.9%, 90.4%;
		--color-popover: 270, 31%, 20%;
	}
}

@layer utilities {
	.bg-background {
		background-color: hsl(var(--color-background));
	}
	.text-paragraph {
		color: hsl(var(--color-text));
	}
	.text-primary {
		color: hsl(var(--color-primary));
	}
	.text-secondary {
		color: hsl(var(--color-secondary));
	}
	.text-accent {
		color: hsl(var(--color-accent));
	}
	.bg-primary {
		background-color: hsl(var(--color-primary));
	}
	.bg-primary-opaque {
		background-color: hsl(var(--color-primary-opaque));
	}
	.bg-secondary {
		background-color: hsl(var(--color-secondary));
	}
	.bg-accent {
		background-color: hsl(var(--color-accent));
	}
	.bg-popover {
		background-color: hsl(var(--color-popover));
	}
	.border-accent {
		border-color: hsl(var(--color-accent));
	}
	.border-primary {
		border-color: hsl(var(--color-primary));
	}
	.border-secondary {
		border-color: hsl(var(--color-secondary));
	}
	.border-popover {
		border-color: hsl(var(--color-popover));
	}
}

.page {
	width: auto;
	direction: rtl;
}

body {
	transition:
		all 0.2s ease-in-out,
		background 0.2s ease-in-out;
}

.ltr {
	direction: ltr;
}

.body {
	background-color: hsl(var(--color-background));
	color: hsl(var(--color-text));
	display: grid;
	min-height: 100vh;
	gap: 1.25rem;
	direction: rtl;
	grid-template-rows: auto 1fr;
}

.main-content {
	@apply lg:px-8 w-screen p-4 overflow-auto;
}

.content {
	@apply lg:max-w-7xl flex flex-col gap-5 m-auto;
}

.footer {
	background-color: hsl(var(--color-primary-opaque));
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.feed-page {
	@apply place-content-center lg:flex-row flex flex-col flex-wrap w-full gap-6;
}

.card-content > * {
	@apply text-ellipsis overflow-hidden;
}

.masonry {
	@apply grid w-full gap-8;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-auto-rows: minmax(200px, auto);
}

.grid-col-responsive {
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.feed-page .timeline {
	@apply lg:block hidden;
}

.full-page-episode {
	@apply w-full px-8 py-10 overflow-auto;
}

.episode-card {
	background-color: hsl(var(--color-primary-opaque));
	filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate)
		var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
	display: flex;
	flex-direction: column;
	border: none;
	box-shadow:
		0 4px 6px -1px rgb(0 0 0 / 0.1),
		0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.game-title {
	@apply grid items-center gap-5;
	grid-template-columns: 1fr auto 1fr;
}

.audio {
	@apply w-full rounded-none;
}

audio.audio::-webkit-media-controls-panel {
	color-scheme: dark;
	background-color: hsl(var(--color-primary));
}

audio::-webkit-media-controls-enclosure {
	border-radius: 0;
}

audio.audio::-webkit-media-controls-current-time-display,
audio.audio::-webkit-media-controls-time-remaining-display {
	color: hsl(var(--color-accent));
}

audio.audio::-webkit-media-controls-timeline-container {
	background-color: hsl(var(--color-accent));
}

.header {
	border-color: hsl(var(--color-accent));
	background-color: hsl(var(--color-primary));
	color: hsl(var(--color-text));
	position: sticky;
	top: 0;
	z-index: 20;
	width: 100vw;
	border-bottom-width: 2px;
	border-style: solid;
}

.hide-menu {
	grid-template-rows: 0fr;
}

.show-menu {
	grid-template-rows: 1fr;
	transition-delay: 1s;
}

.header-title {
	font-size: clamp(1.5em, 15vw, 2.5em);
	line-height: 3rem;
}

.grid-transition {
	transition: grid-template-rows 1s;
}

.header-image {
	@apply relative w-12 h-12;
}

.info {
	font-size: clamp(1em, 5vw, 2em);
}

.crazy-font {
	font-size: clamp(1em, 7vw, 2em);
}

.big-title {
	font-size: clamp(1em, 12vw, 3em);
}

/* biome-ignore lint/style/noDescendingSpecificity: false positive */
.timeline {
	padding: 1rem;
	width: 30rem;
	align-self: flex-start;
}

.twitter-timeline {
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 1rem;
	overflow: hidden;
}

.clamp-text {
	font-size: clamp(0.5em, 2.5vw, 1em);
}

.what-is-kapit > p {
	font-size: clamp(0.5em, 2.5vw, 1em);
	line-height: 2rem;
	@apply text-xl;
}

.fade-in-bottom {
	opacity: 0;
	animation: fadeIn 1s ease-in-out both;
}

.fade-in-bottom.a-delay-100 {
	animation-delay: 0.1s;
}

.fade-in-bottom.a-delay-200 {
	animation-delay: 0.2s;
}

.fade-in-bottom.a-delay-300 {
	animation-delay: 0.3s;
}

.fade-in-bottom.a-delay-400 {
	animation-delay: 0.4s;
}

.fade-in-bottom.a-delay-500 {
	animation-delay: 0.5s;
}

.fade-in-bottom.a-delay-600 {
	animation-delay: 0.6s;
}

.fade-in-bottom.a-delay-700 {
	animation-delay: 0.7s;
}

.about {
	min-height: calc(100dvh - 188px);
}

.go-crazy-animation {
	animation: changeColors 2s ease-in-out infinite;
}

.faded-image {
	--percentage: 0.1%;
	--direction: right;
	-webkit-mask-image: linear-gradient(to var(--direction), transparent var(--percentage), black);
	mask-image: linear-gradient(to var(--direction), transparent var(--percentage), black);
}

.faded-image-vertical {
	--percentage: 30%;
	--direction: top;
	-webkit-mask-image: linear-gradient(to var(--direction), transparent var(--percentage), black);
	mask-image: linear-gradient(to var(--direction), transparent var(--percentage), black);
}

.no-mask {
	-webkit-mask-image: none;
	mask-image: none;
}

.full-bleed {
	box-shadow: 0 0 0 100vw hsl(var(--color-primary));
	clip-path: inset(0 -100vmax);
}

.direction {
	direction: rtl;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}
