.page {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(10rem, auto) 1fr;
  overflow: hidden;
  direction: rtl;
  background-color: var(--color-background);
}
