@import "tailwindcss";

@import "@fontsource/heebo";
@import "@fontsource/amatic-sc";
@import "@fontsource/karantina";

@theme inline {
	--font-sans: "Heebo", sans-serif;
	--font-display: "Amatic SC", cursive;
	--font-heading: "Karantina", system-ui;
	--grid-min-width: 280px;
}

@layer base {
	.hakapit {
		--color-primary: 350, 85%, 25%;
		--color-primary-opaque: 350 85% 42% / 0.2;
		--color-secondary: 177, 100%, 34.9%;
		--color-accent: 55.6, 89.2%, 67.3%;
		--color-background: 350 85% 10%;
		--color-text: 0 0% 100%;
		--color-popover: 350 85% 5%;
	}

	.nitk {
		--color-primary: 296, 100%, 11.8%;
		--color-primary-opaque: 296 100% 20% / 0.3;
		--color-secondary: 338.9, 100%, 45.7%;
		--color-text: 182.4, 100%, 50.8%;
		--color-background: 296, 100%, 20%;
		--color-accent: 151.3, 100%, 50%;
		--color-popover: 296, 100%, 20%;
	}

	.balcony-albums {
		--color-primary: 359.5, 44%, 49%;
		--color-primary-opaque: 270 31% 39% / 0.3;
		--color-secondary: 0, 0%, 0%;
		--color-accent: 205, 51.1%, 55.9%;
		--color-background: 270, 31%, 20%;
		--color-text: 44.3, 46.9%, 90.4%;
		--color-popover: 270, 31%, 20%;
	}
}

@layer utilities {
	.bg-background {
		background-color: hsl(var(--color-background));
	}
	.text-paragraph {
		color: hsl(var(--color-text));
	}
	.text-primary {
		color: hsl(var(--color-primary));
	}
	.text-secondary {
		color: hsl(var(--color-secondary));
	}
	.text-accent {
		color: hsl(var(--color-accent));
	}
	.bg-primary {
		background-color: hsl(var(--color-primary));
	}
	.bg-primary-opaque {
		background-color: hsl(var(--color-primary-opaque));
	}
	.bg-secondary {
		background-color: hsl(var(--color-secondary));
	}
	.bg-accent {
		background-color: hsl(var(--color-accent));
	}
	.bg-popover {
		background-color: hsl(var(--color-popover));
	}
	.border-accent {
		border-color: hsl(var(--color-accent));
	}
	.border-primary {
		border-color: hsl(var(--color-primary));
	}
	.border-secondary {
		border-color: hsl(var(--color-secondary));
	}
	.border-popover {
		border-color: hsl(var(--color-popover));
	}
}

.page {
	width: auto;
	direction: rtl;
}

body {
	transition:
		all 0.2s ease-in-out,
		background 0.2s ease-in-out;
}

.ltr {
	direction: ltr;
}

.body {
	background-color: hsl(var(--color-background));
	color: hsl(var(--color-text));
	display: grid;
	min-height: 100vh;
	gap: 1.25rem;
	direction: rtl;
	grid-template-rows: auto 1fr;
}

.main-content {
	@apply lg:px-8 w-full p-2 sm:p-4 overflow-y-auto;
}

.footer {
	background-color: hsl(var(--color-primary-opaque));
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.card-content > * {
	@apply text-ellipsis overflow-hidden;
}

.masonry {
	@apply grid w-full gap-4 md:gap-8;
	grid-template-columns: 1fr;
	grid-auto-rows: minmax(300px, auto);
}

@media (min-width: 640px) {
	.masonry {
		grid-template-columns: repeat(auto-fit, minmax(var(--grid-min-width), 1fr));
		grid-auto-rows: minmax(350px, auto);
	}
}

.grid-col-responsive {
	grid-template-columns: 1fr;
}

@media (min-width: 640px) {
	.grid-col-responsive {
		grid-template-columns: repeat(auto-fit, minmax(var(--grid-min-width), 1fr));
	}
}

.episode-card {
	display: grid;
	grid-template-rows: auto 1fr auto;
	background-color: hsl(var(--color-primary-opaque));
	filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate)
		var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
	border: none;
	box-shadow:
		0 4px 6px -1px rgb(0 0 0 / 0.1),
		0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.game-title {
	@apply grid items-center gap-2 sm:gap-5;
	grid-template-columns: 1fr auto 1fr;
}

@media (max-width: 480px) {
	.game-title {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto;
		text-align: center;
		gap: 1rem;
	}
}

.audio {
	@apply w-full rounded-none;
}

audio.audio::-webkit-media-controls-panel {
	color-scheme: dark;
	background-color: hsl(var(--color-primary));
}

audio::-webkit-media-controls-enclosure {
	border-radius: 0;
}

audio.audio::-webkit-media-controls-current-time-display,
audio.audio::-webkit-media-controls-time-remaining-display {
	color: hsl(var(--color-accent));
}

audio.audio::-webkit-media-controls-timeline-container {
	background-color: hsl(var(--color-accent));
}

.header {
	border-color: hsl(var(--color-accent));
	background-color: hsl(var(--color-primary));
	color: hsl(var(--color-text));
	position: sticky;
	top: 0;
	z-index: 20;
	border-bottom-width: 2px;
	border-style: solid;
}

.hide-menu {
	grid-template-rows: 0fr;
}

.show-menu {
	grid-template-rows: 1fr;
	transition-delay: 1s;
}

.header-title {
	font-size: clamp(1.25em, 10vw, 2.5em);
	line-height: 2.5rem;
}

@media (min-width: 640px) {
	.header-title {
		font-size: clamp(1.5em, 15vw, 2.5em);
		line-height: 3rem;
	}
}

.grid-transition {
	transition: grid-template-rows 1s;
}

.header-image {
	@apply relative w-12 h-12;
}

.info {
	font-size: clamp(1em, 5vw, 2em);
}

.crazy-font {
	font-size: clamp(1em, 7vw, 2em);
}

.about {
	min-height: calc(100dvh - 188px);
}

.full-bleed {
	box-shadow: 0 0 0 100vw hsl(var(--color-primary));
	clip-path: inset(0 -100vmax);
}

.direction {
	direction: rtl;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}
